# --- LaTeX ---
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.dvi
*.nav
*.snm
*.vrb


# --- Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
env/

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
*.swp